ol,table,p{
	font-family:"Quicksand", cursive;
}
h1, h2{
    font-family: 'Lato', cursive;
}
.box{
	background: GreenYellow;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	color:blue;
	padding: 10px;
	position: relative;
	width: 15%;
	text-align: center;
	display: block;
	height: 250px;
	right: 580px;
	font-family:"Quicksand";




	
}
.dot{
	border: 1px solid black;
	position: relative;
	top:44px;
	width: 50%;
	height: 48px;
	right: 11px;
	text-align: center;
	font-weight: 800;
	text-align: center;
	background: DarkOrange;
	font-size: 120%;
	 font-family: 'Jura', cursive;
}
.sp{
	background: DeepSkyBlue;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: 20px;
	color:red;
	padding: 10px;
	position: relative;
	width: 15%;
	bottom: 282px;
	height: 250px;
	display: block;
	left: 300px;
	font-family:'Quicksand';

}
.wer{
	bottom: 1px;
border: 1px solid black;
	position: relative;
	width: 50%;
	height: 48px;
	right: 11px;
	text-align: center;
	font-weight: 800;
	text-align: center;
	background: Fuchsia;
	font-size: 120%;
	font-family: 'Jura', cursive;

	}
.tb{
	background: DarkViolet;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: 20px;
	color:DarkRed;
	padding: 10px;
	position: relative;
	width: 15%;
	bottom: 564px;
	height: 250px;
	display: block;
	left: 600px;
	font-family:'Quicksand';



}
.ivg{
	background: Green;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: 20px;
	color:white;
	padding: 10px;
	position: relative;
	width: 420px;
	bottom: 847px;
	left: 900px;
	display: block;
	font-family:'Quicksand';
}
.qwer{
	border: 1px solid black;
	position: relative;
	width: 50%;
	height: 48px;
	top:10px;
	right: 10px;
	background: red;
	font-size: 120%;
	font-family: 'Jura', cursive;

}
.dow{
	border: 1px solid black;
	position: relative;
	top:66px;
	width: 50%;
	height: 48px;
	right: 11px;
	text-align: center;
	font-weight: 800;
	background: Yellow;
	font-size: 120%;
	font-family: 'Jura', cursive;


}



